---
draft: true
---
## Work-in-progress bestanden
*Doel: De onderstaande bestanden hebben nog todo items in de markdown staan.*
Deze todo items moeten nog worden afgehandeld.

| Status | File | Path | Taxonomie | Tags | Errors | Errors |
| --- | --- | --- | --- | --- | --- | --- |
| 🔨 | 26. work-in-progress test | 26. work-in-progress test.md | N/A | N/A | Geen taxonomiecode gevonden.<br>Work-in-progress items gevonden: <br>-=ENUM=- |


## Gefaalde bestanden
*Doel: De onderstaande bestanden zijn niet succesvol verwerkt.*

❌ Dit bestand bevat nog geen taxonomie codes.
⚠️ Dit bestand bevat fouten. Zie de *Errors* kolom.
🟠Dit bestand bevat taxonomie codes die niet nodig zijn.

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ⚠️ | 10. Taxonomie code zonder onderwerp (tc-3) | 10. Taxonomie code zonder onderwerp (tc-3).md | bg-24.2.OI | N/A | Ongeldige taxonomiecode:  `bg-24.2.OI`  |
| ⚠️ | 11. Taxonomie code zonder niveau (tc-2) | 11. Taxonomie code zonder niveau (tc-2).md | bg-24.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 12. Taxonomie code zonder tc-1 | 12. Taxonomie code zonder tc-1.md | 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 13. Taxonomie code met 0 in tc-1 | 13. Taxonomie code met 0 in tc-1.md | bg-0.2.Alleen-Niveau-Twee.OI | N/A | Taxonomie niet gevonden in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 14. Taxonomie code met spaties in tc-3 | 14. Taxonomie code met spaties in tc-3.md | bg-24.2.Alleen Niveau Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen Niveau Twee.OI`  |
| ⚠️ | 15. Taxonomie code tussen tc-1 en tc-2 | 15. Taxonomie code tussen tc-1 en tc-2.md | bg-24. 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24. 2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 16. Taxonomie code tussen tc-2 en tc-3 | 16. Taxonomie code tussen tc-2 en tc-3.md | bg-24.2. Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.2. Alleen-Niveau-Twee.OI`  |
| ⚠️ | 17. Taxonomie code tussen tc-3 en tc-4 | 17. Taxonomie code tussen tc-3 en tc-4.md | bg-24.2.Alleen-Niveau-Twee. OI | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee. OI`  |
| 🟠 | 18. Taxonomie code die niet behandeld hoeft te worden | 18. Taxonomie code die niet behandeld hoeft te worden.md | bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>Geen-Niveau | Taxonomiecode gebruikt wanneer niet nodig:  `bg-24.2.Geen-Niveau.OI` <br>Taxonomiecode gebruikt wanneer niet nodig:  `bg-24.3.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 2. Taxonomie code op negatief niveau | 2. Taxonomie code op negatief niveau.md | bg-24.-2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.-2.Alleen-Niveau-Twee.OI`  |
| ❌ | 21. Fouten in dynamisch link opgelost | 21. Fouten in dynamisch link opgelost.md | N/A | N/A | Dynamische link fout:  `[[foutieveLinkEen]]` <br>Dynamische link fout:  `[[foutieveLinkTwee]]` <br>Geen taxonomiecode gevonden. |
| ⚠️ | 22. Twee taxonomie codes met fouten | 22. Twee taxonomie codes met fouten.md | bg-0.2.Alleen-Niveau-Twee.OI<br>bg-24.2.Alleen-Niveau-Twee.JH | N/A | Taxonomie niet gevonden in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI` <br>Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee.JH`  |
| ❌ | 25. 2 van de 5 images gebruikt | 25. 2 van de 5 images gebruikt.md | N/A | N/A | Geen taxonomiecode gevonden. |
| ⚠️ | 27. Taxonomie code met te veel punten | 27. Taxonomie code met te veel punten.md | bg-24.2.Alleen.Niveau.Twee.LT | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen.Niveau.Twee.LT`  |
| ⚠️ | 28. Taxonomie code met spaties bij onderwerp | 28. Taxonomie code met spaties bij onderwerp.md | bg-24.2.Alleen Niveau.Twee.LT | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen Niveau.Twee.LT`  |
| ⚠️ | 29. Taxonomie code met spatie in onderwerp en punt te veel | 29. Taxonomie code met spatie in onderwerp en punt te veel.md | bg-24.2.Alleen Niveau Twee.LT | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen Niveau Twee.LT`  |
| ⚠️ | 3. Taxonomie code op niveau 0 | 3. Taxonomie code op niveau 0.md | bg-24.0.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.0.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 30. Taxonomie code met lege lijst(en) | 30. Taxonomie code met lege lijst(en).md | []<br>["[]"]<br>None<br>["None"]<br>[""]<br>"None" | N/A | Ongeldige taxonomiecode:  `[]` <br>Ongeldige taxonomiecode:  `["[]"]` <br>Ongeldige taxonomiecode:  `None` <br>Ongeldige taxonomiecode:  `["None"]` <br>Ongeldige taxonomiecode:  `[""]` <br>Ongeldige taxonomiecode:  `"None"`  |
| ⚠️ | 4. Taxonomie code op niveau 4 | 4. Taxonomie code op niveau 4.md | bg-24.4.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.4.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 5. Taxonomie code met negatieve tc-1 | 5. Taxonomie code met negatieve tc-1.md | bg--24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg--24.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 6. Taxonomie code met verkeerd tc-1 nummer | 6. Taxonomie code met verkeerd tc-1 nummer.md | bg-19.2.Alleen-Niveau-Twee.OI | N/A | Taxonomie niet gevonden in dataset:  `bg-19.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 7. Taxonomie code met niet bestaand onderwerp | 7. Taxonomie code met niet bestaand onderwerp.md | bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI | N/A | Taxonomie niet gevonden in dataset:  `bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI`  |
| ⚠️ | 8. Taxonomie code met een niet bestaand 4CID component | 8. Taxonomie code met een niet bestaand 4CID component.md | bg-24.2.Alleen-Niveau-Twee.JH | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee.JH`  |
| ⚠️ | 9. Taxonomie code zonder 4CID component (tc-4) | 9. Taxonomie code zonder 4CID component (tc-4).md | bg-24.2.Alleen-Niveau-Twee | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee`  |


## Gefaalde images
*Doel: De onderstaande images worden niet gebruikt in een bestand.*

| Status | Image | Path | Error |
| --- | --- | --- | --- |
| 🔨 | OI_test_image_2 | src/OI_test_image_2.png | Afbeelding wordt in geen enkel bestand gebruikt |
| 🔨 | PI_test_image_4 | src/PI_test_image_4.png | Afbeelding wordt in geen enkel bestand gebruikt |
| 🔨 | test_image_1 | src/test_image_1.png | Afbeelding wordt in geen enkel bestand gebruikt |


## Geslaagde bestanden
*Doel: De onderstaande bestanden zijn succesvol verwerkt.*

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ✅ | 1. Correct taxonomie codes | 1. Correct taxonomie codes.md | bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Ander-Eerste-Onderdeel<br>Beheerproces<br>Bouwen softwaresysteem<br>Gebruiken beheersysteem<br>Implentatieproces<br>Niveau-Twee-En-Drie | N/A |
| ✅ | 19. Dezelfde taxonomie code twee keer | 19. Dezelfde taxonomie code twee keer.md | bg-24.2.Alleen-Niveau-Twee.DT<br>bg-24.2.Alleen-Niveau-Twee.DT | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem | N/A |
| ✅ | 20. Dezelfde taxonomie code twee keer, maar ander niveau | 20. Dezelfde taxonomie code twee keer, maar ander niveau.md | bg-24.3.Niveau-Twee-En-Drie.LT<br>bg-24.2.Niveau-Twee-En-Drie.LT | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Beheerproces<br>Gebruiken beheersysteem<br>Niveau-Twee-En-Drie | N/A |
| ✅ | 23. Taxonomie code met al bestaande tag | 23. Taxonomie code met al bestaande tag.md | bg-24.2.Alleen-Niveau-Twee.PI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>DezeTagMoetBlijvenBestaan<br>Gebruiken beheersysteem | N/A |
| ✅ | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem | N/A |
